---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Abstract</h3>
	<div>
		<Icon.HamburgerMenu width={width} height={height} aria-label="Hamburger" />
		<Icon.Cross1 width={width} height={height} aria-label="Cross 1" />
		<Icon.DotsHorizontal width={width} height={height} aria-label="Dots Horizontal" />
		<Icon.DotsVertical width={width} height={height} aria-label="Dots Vertical" />
		<Icon.Plus width={width} height={height} aria-label="Plus" />
		<Icon.Minus width={width} height={height} aria-label="Minus" />
		<Icon.Check width={width} height={height} aria-label="Check" />
		<Icon.Cross2 width={width} height={height} aria-label="Cross 2" />
		<Icon.CheckCircled width={width} height={height} aria-label="Check Circled" />
		<Icon.CrossCircled width={width} height={height} aria-label="Cross Circled" />
		<Icon.PlusCircled width={width} height={height} aria-label="Plus Circled" />
		<Icon.MinusCircled width={width} height={height} aria-label="Minus Circled" />
		<Icon.QuestionMark width={width} height={height} aria-label="Question Mark" />
		<Icon.QuestionMarkCircled width={width} height={height} aria-label="Question Mark Circled " />
		<Icon.InfoCircled width={width} height={height} aria-label="Info Circled" />
		<Icon.ExclamationTriangle width={width} height={height} aria-label="Exclamation Triangle" />
		<Icon.Share1 width={width} height={height} aria-label="Share 1" />
		<Icon.Share2 width={width} height={height} aria-label="Share 2" />
		<Icon.ExternalLink width={width} height={height} aria-label="External Link" />
		<Icon.Enter width={width} height={height} aria-label="Enter" />
		<Icon.Exit width={width} height={height} aria-label="Exit" />
		<Icon.Download width={width} height={height} aria-label="Download" />
		<Icon.Upload width={width} height={height} aria-label="Upload" />
		<Icon.Reset width={width} height={height} aria-label="Reset" />
		<Icon.Reload width={width} height={height} aria-label="Reload" />
		<Icon.Update width={width} height={height} aria-label="Update" />
		<Icon.EnterFullScreen width={width} height={height} aria-label="Enter Full Screen " />
		<Icon.ExitFullScreen width={width} height={height} aria-label="Exit Full Screen " />
		<Icon.DragHandleVertical width={width} height={height} aria-label="Drag Handle Vertical " />
		<Icon.DragHandleHorizontal width={width} height={height} aria-label="Drag Handle Horizontal " />
		<Icon.DragHandleDots1 width={width} height={height} aria-label="Drag Handle Dots  1" />
		<Icon.DragHandleDots2 width={width} height={height} aria-label="Drag Handle Dots  2" />
		<Icon.Dot width={width} height={height} aria-label="Dot" />
		<Icon.DotFilled width={width} height={height} aria-label="Dot Filled" />
		<Icon.Commit width={width} height={height} aria-label="Commit" />
		<Icon.Slash width={width} height={height} aria-label="Slash" />
		<Icon.Circle width={width} height={height} aria-label="Circle" />
		<Icon.CircleBackslash width={width} height={height} aria-label="Circle Backslash" />
		<Icon.Half1 width={width} height={height} aria-label="Half 1" />
		<Icon.Half2 width={width} height={height} aria-label="Half 2" />
		<Icon.ViewVertical width={width} height={height} aria-label="View Vertical" />
		<Icon.ViewHorizontal width={width} height={height} aria-label="View Horizontal" />
		<Icon.ViewGrid width={width} height={height} aria-label="View Grid" />
		<Icon.ViewNone width={width} height={height} aria-label="View None" />
		<Icon.Square width={width} height={height} aria-label="Square" />
		<Icon.Copy width={width} height={height} aria-label="Copy" />
		<Icon.Dash width={width} height={height} aria-label="Dash" />
	</div>
</section>
