---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Components</h3>
	<div>
		<Icon.Box width={width} height={height} aria-label="Box" />
		<Icon.AspectRatio width={width} height={height} aria-label="Aspect Ratio" />
		<Icon.Container width={width} height={height} aria-label="Container" />
		<Icon.Section width={width} height={height} aria-label="Section" />
		<Icon.Layout width={width} height={height} aria-label="Layout" />
		<Icon.Grid width={width} height={height} aria-label="Grid" />
		<Icon.Table width={width} height={height} aria-label="Table" />
		<Icon.Image width={width} height={height} aria-label="Image" />
		<Icon.Switch width={width} height={height} aria-label="Switch" />
		<Icon.Checkbox width={width} height={height} aria-label="Checkbox" />
		<Icon.Radiobutton width={width} height={height} aria-label="Radiobutton" />
		<Icon.Avatar width={width} height={height} aria-label="Avatar" />
		<Icon.Button width={width} height={height} aria-label="Button" />
		<Icon.Badge width={width} height={height} aria-label="Badge" />
		<Icon.Input width={width} height={height} aria-label="Input" />
		<Icon.Slider width={width} height={height} aria-label="Slider" />
		<Icon.Quote width={width} height={height} aria-label="Quote" />
		<Icon.Code width={width} height={height} aria-label="Code" />
		<Icon.ListBullet width={width} height={height} aria-label="List Bullet" />
		<Icon.DropdownMenu width={width} height={height} aria-label="Dropdown Menu" />
		<Icon.Video width={width} height={height} aria-label="Video" />
		<Icon.PieChart width={width} height={height} aria-label="Pie Chart" />
		<Icon.Calendar width={width} height={height} aria-label="Calendar" />
		<Icon.Dashboard width={width} height={height} aria-label="Dashboard" />
		<Icon.ActivityLog width={width} height={height} aria-label="Activity Log" />
		<Icon.BarChart width={width} height={height} aria-label="Bar Chart" />
		<Icon.DividerVertical width={width} height={height} aria-label="Divider Vertical" />
		<Icon.DividerHorizontal width={width} height={height} aria-label="Divider Horizontal" />
	</div>
</section>
