---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Logos</h3>
	<div>
		<Icon.ModulzLogo width={width} height={height} aria-label="Modulz Logo" />
		<Icon.StitchesLogo width={width} height={height} aria-label="Stitches Logo" />
		<Icon.FigmaLogo width={width} height={height} aria-label="Figma Logo" />
		<Icon.FramerLogo width={width} height={height} aria-label="Framer Logo" />
		<Icon.SketchLogo width={width} height={height} aria-label="Sketch Logo" />
		<Icon.TwitterLogo width={width} height={height} aria-label="Twitter Logo" />
		<Icon.IconJarLogo width={width} height={height} aria-label="IconJar Logo" />
		<Icon.GitHubLogo width={width} height={height} aria-label="Github Logo" />
		<Icon.VercelLogo width={width} height={height} aria-label="Vercel Logo" />
		<Icon.CodeSandboxLogo width={width} height={height} aria-label="CodeSandbox Logo" />
		<Icon.NotionLogo width={width} height={height} aria-label="Notion Logo" />
	</div>
</section>
