---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Arrows</h3>
	<div>
		<Icon.ArrowLeft width={width} height={height} aria-label="Arrow Left" />
		<Icon.ArrowRight width={width} height={height} aria-label="Arrow Right" />
		<Icon.ArrowUp width={width} height={height} aria-label="Arrow Up" />
		<Icon.ArrowDown width={width} height={height} aria-label="Arrow Down" />
		<Icon.ArrowTopLeft width={width} height={height} aria-label="Arrow Top Left " />
		<Icon.ArrowTopRight width={width} height={height} aria-label="Arrow Top Right " />
		<Icon.ArrowBottomLeft width={width} height={height} aria-label="Arrow Bottom Left " />
		<Icon.ArrowBottomRight width={width} height={height} aria-label="Arrow Bottom Right " />
		<Icon.ChevronDown width={width} height={height} aria-label="Chevron Down" />
		<Icon.ChevronLeft width={width} height={height} aria-label="Chevron Left" />
		<Icon.ChevronRight width={width} height={height} aria-label="Chevron Right" />
		<Icon.ChevronUp width={width} height={height} aria-label="Chevron Up" />
		<Icon.DoubleArrowDown width={width} height={height} aria-label="Double Arrow Down " />
		<Icon.DoubleArrowLeft width={width} height={height} aria-label="Double Arrow Left " />
		<Icon.DoubleArrowRight width={width} height={height} aria-label="Double Arrow Right " />
		<Icon.DoubleArrowUp width={width} height={height} aria-label="Double Arrow Up " />
		<Icon.ThickArrowLeft width={width} height={height} aria-label="Thick Arrow Left " />
		<Icon.ThickArrowRight width={width} height={height} aria-label="Thick Arrow Right " />
		<Icon.ThickArrowUp width={width} height={height} aria-label="Thick Arrow Up " />
		<Icon.ThickArrowDown width={width} height={height} aria-label="Thick Arrow Down " />
		<Icon.TriangleLeft width={width} height={height} aria-label="Triangle Left" />
		<Icon.TriangleRight width={width} height={height} aria-label="Triangle Right" />
		<Icon.TriangleUp width={width} height={height} aria-label="Triangle Up" />
		<Icon.TriangleDown width={width} height={height} aria-label="Triangle Down" />
		<Icon.CaretLeft width={width} height={height} aria-label="Caret Left" />
		<Icon.CaretRight width={width} height={height} aria-label="Caret Right" />
		<Icon.CaretUp width={width} height={height} aria-label="Caret Up" />
		<Icon.CaretDown width={width} height={height} aria-label="Caret Down" />
		<Icon.CaretSort width={width} height={height} aria-label="Caret Sort" />
		<Icon.Width width={width} height={height} aria-label="Width" />
		<Icon.Height width={width} height={height} aria-label="Height" />
		<Icon.Size width={width} height={height} aria-label="Size" />
		<Icon.Move width={width} height={height} aria-label="Move" />
		<Icon.AllSides width={width} height={height} aria-label="All Sides" />
	</div>
</section>
