---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Design</h3>
	<div>
		<Icon.Frame width={width} height={height} aria-label="Frame" />
		<Icon.Crop width={width} height={height} aria-label="Crop" />
		<Icon.Layers width={width} height={height} aria-label="Layers" />
		<Icon.Stack width={width} height={height} aria-label="Stack" />
		<Icon.Tokens width={width} height={height} aria-label="Tokens" />
		<Icon.Component1 width={width} height={height} aria-label="Component 1" />
		<Icon.Component2 width={width} height={height} aria-label="Component 2" />
		<Icon.Symbol width={width} height={height} aria-label="Symbol" />
		<Icon.ComponentInstance width={width} height={height} aria-label="Component Instance" />
		<Icon.ComponentNone width={width} height={height} aria-label="Component None" />
		<Icon.ComponentBoolean width={width} height={height} aria-label="Component Boolean" />
		<Icon.ComponentPlaceholder width={width} height={height} aria-label="Component Placeholder" />
		<Icon.Opacity width={width} height={height} aria-label="Opacity" />
		<Icon.BlendingMode width={width} height={height} aria-label="Blending Mode" />
		<Icon.MaskOn width={width} height={height} aria-label="Mask On" />
		<Icon.MaskOff width={width} height={height} aria-label="Mask Off" />
		<Icon.Shadow width={width} height={height} aria-label="Shadow" />
		<Icon.ShadowNone width={width} height={height} aria-label="Shadow None" />
		<Icon.ShadowInner width={width} height={height} aria-label="Shadow Inner" />
		<Icon.ShadowOuter width={width} height={height} aria-label="Shadow Outer" />
		<Icon.Value width={width} height={height} aria-label="Value" />
		<Icon.ValueNone width={width} height={height} aria-label="Value None" />
		<Icon.ZoomIn width={width} height={height} aria-label="Zoom In" />
		<Icon.ZoomOut width={width} height={height} aria-label="Zoom Out" />
		<Icon.TransparencyGrid width={width} height={height} aria-label="Transparency Grid" />
		<Icon.Group width={width} height={height} aria-label="Group" />
		<Icon.Dimensions width={width} height={height} aria-label="Dimensions" />
		<Icon.RotateCounterClockwise width={width} height={height} aria-label="Rotate Counter-Clockwise" />
		<Icon.Columns width={width} height={height} aria-label="Columns" />
		<Icon.Rows width={width} height={height} aria-label="Rows" />
		<Icon.BoxModel width={width} height={height} aria-label="Box Model" />
		<Icon.Padding width={width} height={height} aria-label="Padding" />
		<Icon.Margin width={width} height={height} aria-label="Margin" />
		<Icon.Angle width={width} height={height} aria-label="Angle" />
		<Icon.CursorArrow width={width} height={height} aria-label="Cursor Arrow" />
		<Icon.CursorText width={width} height={height} aria-label="Cursor Text" />
		<Icon.ColumnSpacing width={width} height={height} aria-label="Column Spacing" />
		<Icon.RowSpacing width={width} height={height} aria-label="Row Spacing" />
	</div>
</section>
