---
import * as Icon from '@astropub/icons'

const { size = 15, width = size, height = size, ...more } = Astro.props
---
<section>
	<h3>Objects</h3>
	<div>
		<Icon.MagnifyingGlass width={width} height={height} aria-label="Magnifying Glass" />
		<Icon.Gear width={width} height={height} aria-label="Gear" />
		<Icon.Bell width={width} height={height} aria-label="Bell" />
		<Icon.Home width={width} height={height} aria-label="Home" />
		<Icon.LockClosed width={width} height={height} aria-label="Lock Closed" />
		<Icon.LockOpen1 width={width} height={height} aria-label="Lock Open 1 " />
		<Icon.LockOpen2 width={width} height={height} aria-label="Lock Open 2 " />
		<Icon.Backpack width={width} height={height} aria-label="Backpack" />
		<Icon.Camera width={width} height={height} aria-label="Camera" />
		<Icon.PaperPlane width={width} height={height} aria-label="Paper Plane" />
		<Icon.Rocket width={width} height={height} aria-label="Rocket" />
		<Icon.EnvelopeClosed width={width} height={height} aria-label="Envelope Closed" />
		<Icon.EnvelopeOpen width={width} height={height} aria-label="Envelope Open" />
		<Icon.ChatBubble width={width} height={height} aria-label="Chat Bubble" />
		<Icon.Link1 width={width} height={height} aria-label="Link 1" />
		<Icon.LinkNone1 width={width} height={height} aria-label="Link None 1 " />
		<Icon.LinkBreak1 width={width} height={height} aria-label="Link Break 1 " />
		<Icon.Link2 width={width} height={height} aria-label="Link 2" />
		<Icon.LinkNone2 width={width} height={height} aria-label="Link None 2 " />
		<Icon.LinkBreak2 width={width} height={height} aria-label="Link Break 2 " />
		<Icon.Trash width={width} height={height} aria-label="Trash" />
		<Icon.Pencil1 width={width} height={height} aria-label="Pencil 1" />
		<Icon.Pencil2 width={width} height={height} aria-label="Pencil 2" />
		<Icon.Bookmark width={width} height={height} aria-label="Bookmark" />
		<Icon.DrawingPin width={width} height={height} aria-label="Drawing Pin" />
		<Icon.DrawingPinFilled width={width} height={height} aria-label="Drawing Pin Filled " />
		<Icon.SewingPin width={width} height={height} aria-label="Sewing Pin" />
		<Icon.SewingPinFilled width={width} height={height} aria-label="Sewing Pin Filled " />
		<Icon.Cube width={width} height={height} aria-label="Cube" />
		<Icon.Archive width={width} height={height} aria-label="Archive" />
		<Icon.CrumpledPaper width={width} height={height} aria-label="Crumpled Paper" />
		<Icon.Mix width={width} height={height} aria-label="Mix" />
		<Icon.MixerHorizontal width={width} height={height} aria-label="Mixer Horizontal" />
		<Icon.MixerVertical width={width} height={height} aria-label="Mixer Vertical" />
		<Icon.File width={width} height={height} aria-label="File" />
		<Icon.FileText width={width} height={height} aria-label="File Text" />
		<Icon.FilePlus width={width} height={height} aria-label="File Plus" />
		<Icon.FileMinus width={width} height={height} aria-label="File Minus" />
		<Icon.Reader width={width} height={height} aria-label="Reader" />
		<Icon.CardStack width={width} height={height} aria-label="Card Stack" />
		<Icon.CardStackPlus width={width} height={height} aria-label="Card Stack Plus" />
		<Icon.CardStackMinus width={width} height={height} aria-label="Card Stack Minus" />
		<Icon.IdCard width={width} height={height} aria-label="Id Card" />
		<Icon.Crosshair1 width={width} height={height} aria-label="Crosshair 1" />
		<Icon.Crosshair2 width={width} height={height} aria-label="Crosshair 2" />
		<Icon.Target width={width} height={height} aria-label="Target" />
		<Icon.Disc width={width} height={height} aria-label="Disc" />
		<Icon.Globe width={width} height={height} aria-label="Globe" />
		<Icon.Sun width={width} height={height} aria-label="Sun" />
		<Icon.Moon width={width} height={height} aria-label="Moon" />
		<Icon.Clock width={width} height={height} aria-label="Clock" />
		<Icon.Timer width={width} height={height} aria-label="Timer" />
		<Icon.CounterClockwiseClock width={width} height={height} aria-label="Counter-Clockwise Clock" />
		<Icon.CountdownTimer width={width} height={height} aria-label="Countdown Timer" />
		<Icon.Stopwatch width={width} height={height} aria-label="Stopwatch" />
		<Icon.LapTimer width={width} height={height} aria-label="Lap Timer" />
		<Icon.LightningBolt width={width} height={height} aria-label="Lightning Bolt" />
		<Icon.MagicWand width={width} height={height} aria-label="Magic Wand" />
		<Icon.Face width={width} height={height} aria-label="Face" />
		<Icon.Person width={width} height={height} aria-label="Person" />
		<Icon.EyeOpen width={width} height={height} aria-label="Eye Open" />
		<Icon.EyeNone width={width} height={height} aria-label="Eye None" />
		<Icon.EyeClosed width={width} height={height} aria-label="Eye Closed" />
		<Icon.Hand width={width} height={height} aria-label="Hand" />
		<Icon.RulerHorizontal width={width} height={height} aria-label="Ruler Horizontal" />
		<Icon.RulerSquare width={width} height={height} aria-label="Ruler Square" />
		<Icon.Clipboard width={width} height={height} aria-label="Clipboard" />
		<Icon.ClipboardCopy width={width} height={height} aria-label="Clipboard Copy" />
		<Icon.Star width={width} height={height} aria-label="Star" />
		<Icon.StarFilled width={width} height={height} aria-label="StarFilled" />
		<Icon.Cookie width={width} height={height} aria-label="Cookie" />
	</div>
</section>
